{
    email {$LETSENCRYPT_EMAIL}
}

{$N8N_HOSTNAME} {
    reverse_proxy http://n8n:5678
}

{$WEBUI_HOSTNAME} {
    reverse_proxy http://open-webui:8080
}

{$FLOWISE_HOSTNAME} {
    reverse_proxy http://flowise:3001
}

{$DIFY_HOSTNAME} {
    reverse_proxy http://nginx:80
}

{$RAGAPP_HOSTNAME} {
    basic_auth {
        {$RAGAPP_USERNAME} {$RAGAPP_PASSWORD_HASH}
    }
    reverse_proxy http://ragapp:8000
}

{$RAGFLOW_HOSTNAME} {
    reverse_proxy http://ragflow:80
}

{$LANGFUSE_HOSTNAME} {
    reverse_proxy http://langfuse-web:3000
}

{$SUPABASE_HOSTNAME} {
    reverse_proxy http://kong:8000
}

{$GRAFANA_HOSTNAME} {
    reverse_proxy http://grafana:3000
}

{$WAHA_HOSTNAME} {
    reverse_proxy http://waha:3000
}

{$PROMETHEUS_HOSTNAME} {
    basic_auth {
        {$PROMETHEUS_USERNAME} {$PROMETHEUS_PASSWORD_HASH}
    }
    reverse_proxy http://prometheus:9090
}

{$PORTAINER_HOSTNAME} {
    reverse_proxy http://portainer:9000
}

{$POSTIZ_HOSTNAME} {
    reverse_proxy http://postiz:5000
}

{$POSTGRESUS_HOSTNAME} {
    reverse_proxy http://postgresus:4005
}

{$LETTA_HOSTNAME} {
    reverse_proxy http://letta:8283
}

{$LIGHTRAG_HOSTNAME} {
    reverse_proxy http://lightrag:9621
}

{$WEAVIATE_HOSTNAME} {
    reverse_proxy http://weaviate:8080
}

{$QDRANT_HOSTNAME} {
    reverse_proxy http://qdrant:6333
}

{$COMFYUI_HOSTNAME} {
    basic_auth {
        {$COMFYUI_USERNAME} {$COMFYUI_PASSWORD_HASH}
    }
    reverse_proxy http://comfyui:8188
}

{$LT_HOSTNAME} {
    basic_auth {
        {$LT_USERNAME} {$LT_PASSWORD_HASH}
    }
    reverse_proxy http://libretranslate:5000
}

{$NEO4J_HOSTNAME} {
    reverse_proxy http://neo4j:7474
}

https://{$NEO4J_HOSTNAME}:7687 {
    reverse_proxy neo4j:7687
}

{$PADDLEOCR_HOSTNAME} {
    basic_auth {
        {$PADDLEOCR_USERNAME} {$PADDLEOCR_PASSWORD_HASH}
    }
    reverse_proxy http://paddleocr:8080
}

{$DOCLING_HOSTNAME} {
    basic_auth {
        {$DOCLING_USERNAME} {$DOCLING_PASSWORD_HASH}
    }
    reverse_proxy http://docling:5001
}

{$WELCOME_HOSTNAME} {
    basic_auth {
        {$WELCOME_USERNAME} {$WELCOME_PASSWORD_HASH}
    }
    reverse_proxy http://welcome-web:80
}

{$SEARXNG_HOSTNAME} {
    @protected not remote_ip 127.0.0.0/8 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 100.64.0.0/10

    basic_auth @protected {
        {$SEARXNG_USERNAME} {$SEARXNG_PASSWORD_HASH}
    }

    encode zstd gzip

    @api {
        path /config
        path /healthz
        path /stats/errors
        path /stats/checker
    }
    @search {
        path /search
    }
    @imageproxy {
        path /image_proxy
    }
    @static {
        path /static/*
    }

    header {
        Content-Security-Policy "upgrade-insecure-requests; default-src 'none'; script-src 'self'; style-src 'self' 'unsafe-inline'; form-action 'self' https://github.com/searxng/searxng/issues/new; font-src 'self'; frame-ancestors 'self'; base-uri 'self'; connect-src 'self' https://overpass-api.de; img-src * data:; frame-src https://www.youtube-nocookie.com https://player.vimeo.com https://www.dailymotion.com https://www.deezer.com https://www.mixcloud.com https://w.soundcloud.com https://embed.spotify.com;"
        Permissions-Policy "accelerometer=(),camera=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),payment=(),usb=()"
        Referrer-Policy "no-referrer"
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        X-Robots-Tag "noindex, noarchive, nofollow"
        -Server
    }

    header @api {
        Access-Control-Allow-Methods "GET, OPTIONS"
        Access-Control-Allow-Origin "*"
    }

    route {
        header Cache-Control "max-age=0, no-store"
        header @search Cache-Control "max-age=5, private"
        header @imageproxy Cache-Control "max-age=604800, public"
        header @static Cache-Control "max-age=31536000, public, immutable"
    }

    reverse_proxy searxng:8080 {
        header_up X-Forwarded-Port {http.request.port}
        header_up X-Real-IP {http.request.remote.host}
        header_up Connection "close"
    }
}

import /etc/caddy/addons/*.conf
